body{
    background-image:url(ngp.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}
h2{
    text-align: center;
    

}

form {
    background-color: #fdffff;
    
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
.form-control {
    text-align: left;
    margin-bottom: 25px;
}
.form-control label {
    display: block;
    margin-bottom: 10px;
}
.form-control input,
        .form-control select,
        .form-control textarea {
            border: 1px solid #030247;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }
button{
    background-color:skyblue;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 20px;
    display: block;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
